body {
    margin: 0;
    background-color: aqua;
}

header {
    background: linear-gradient(rgba(3, 47, 75, .5), rgba(3, 47, 75, .5)), url(../img/header-bg.jpg) center no-repeat;
    object-fit: cover;
    margin: -10px 0;
}

.header-wrapper {
    width: 94%;
    margin: 0 auto;
}

.header-line {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 350px;
}

.header-line-left {
    display: flex;
    align-items: center;
}

.logo a {
    display: flex;
    align-items: center;
    text-decoration: none;
}

.logo img {
    margin-right: 10px;
}

.logo p {
    font-size: 25px;
    line-height: 32px;
    color: #fbfdfd;
    font-weight: 700;
    font-family: "Poppins";
    text-transform: uppercase;
}

.header-menu ul {
    display: flex;
    margin-left: 60px;
    list-style: none;
}

.header-menu a {
    padding: 0 20px;
    font-size: 17px;
    line-height: 32px;
    color: #fbfdfd;
    font-weight: 400;
    font-family: "Poppins";
    text-decoration: none;
    transition: 1s ease all;
    text-transform: capitalize;
}

.header-menu a:hover {
    padding-top: 35px;
    padding-bottom: 5px;
    background-color: #f7672c;
}

.header-burger-menu {
    cursor: pointer;
}

.burger-menu {
    display: block;
    width: 34px;
    height: 3px;
    background-color: #ffffff;
    position: relative;
}

.burger-menu::before {
    content: '';
    display: block;
    width: 34px;
    height: 3px;
    background-color: #ffffff;
    position: absolute;
    bottom: -10px;
}

.burger-menu::after {
    content: '';
    display: block;
    width: 34px;
    height: 3px;
    background-color: #ffffff;
    position: absolute;
    top: -10px;
}

.header-content {
    display: flex;
    align-items: center;
    padding-bottom: 360px;
}

.header-arrow-bloc {
    margin-right: 200px;
}

.header-left-arrow {
    display: block;
    width: 58px;
    height: 58px;
    border: 2.51px solid #0bd7f7;
    transition: 2s ease all;
    background: url(../img/header-left-arrow-blue.png) no-repeat center;
    margin-bottom: 15px;
}

.header-left-arrow:hover {
    border: 2.51px solid #ffffff;
    background: url(../img/header-left-arrow-black.png) #ffffff no-repeat center;
}

.header-right-arrow {
    display: block;
    width: 58px;
    height: 58px;
    border: 2.51px solid #0bd7f7;
    transition: 2s ease all;
    background: url(../img/header-right-arrow-blue.png) no-repeat center;
    margin-bottom: 15px;
}

.header-right-arrow:hover {
    border: 2.51px solid #ffffff;
    background: url(../img/header-right-arrow-black.png) #ffffff no-repeat center;
}

.header-info {
    margin-right: 150px;
}

.headerline {
    display: flex;
    align-items: center;
    margin-bottom: 65px;
}

.header-save {
    margin-right: 25px;
}

.header-save h2 {
    font-size: 90px;
    line-height: 90px;
    color: #fbfdfd;
    font-weight: 400;
    font-family: "Poppins";
    margin: 0;
}

.header-animal h2 {
    font-size: 90px;
    line-height: 90px;
    color: #0bd7f7;
    font-weight: 400;
    font-family: "Poppins";
    margin: 0;
    font-weight: bold;
}

.header-info p {
    max-width: 550px;
    font-size: 17px;
    line-height: 33px;
    color: #ffffff;
    font-weight: 400;
    font-family: "Poppins";
    margin: 0;
    margin-bottom: 70px;
}

.header-button a {
    font-size: 20px;
    line-height: 33px;
    color: #ffffff;
    font-weight: 400;
    font-family: "Poppins";
    text-decoration: none;
    padding: 25px 75px;
    background: #f7672c;
    margin-right: 30px;
    transition: 3s ease all;
}

.header-button a:hover {
    background: #ffffff;
    color: #000706;
}

.arrival-wrap {
    background: #ffffff;
    padding-top: 135px;
}

.wrappper {
    width: 80%;
    margin: 0 auto;
}

.arrival-headerline {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 40px;
}

.arrival-headerline h2 {
    font-size: 50px;
    line-height: 32px;
    color: #02191b;
    font-weight: 700;
    font-family: "Poppins";
    margin: 0;
    margin-left: 10px;
    margin-right: 10px;
}

.arrival-headerline h1 {
    font-size: 50px;
    line-height: 32px;
    color: #0bd7f7;
    font-weight: 700;
    font-family: "Poppins";
    margin: 0;
    position: relative;
}

.arrival-headerline h1::after {
    content: '';
    position: absolute;
    width: 15px;
    height: 15px;
    background-color: #f7672c;
    border-radius: 50%;
    top: 10px;
    margin-left: 4px;
}

.animal-line {
    display: flex;
    justify-content: space-around;
    width: 100%;
}


.arrival p {
    max-width: 1150px;
    font-size: 17px;
    line-height: 27px;
    color: #1a1919;
    font-weight: 400;
    font-family: "Poppins";
    text-align: center;
    margin: 0 auto;
    margin-bottom: 60px;
}

.animal {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 65px;
}

.animal a {
    text-decoration: none;
}

.animal h3 {
    color: #1a1919;
    font-weight: 700;
    font-family: "Poppins";
    text-align: center;
    text-transform: uppercase;
}

.cat img {
    padding: 55px 60px;
    border: 2.51px solid #dddddd;
    border-radius: 4px;
}

.bird img {
    padding: 45px 56px 65px 67px;
    border: 2.51px solid #dddddd;
    border-radius: 4px;
}

.lion img {
    padding: 56px 60px 67px 60px;
    border: 2.51px solid #dddddd;
    border-radius: 4px;
}

.deer img {
    padding: 47px 60px 66px 60px;
    border: 2.51px solid #dddddd;
    border-radius: 4px;
}

.dove img {
    padding: 60px;
    border: 2.51px solid #dddddd;
    border-radius: 4px;
}

.bird,
.deer {
    margin: 0 20px;
}

.arrival-left-arrow,
.arrival-right-arrow {
    display: block;
    width: 70px;
    height: 70px;
    border: 2.51px solid #dddddd;
    margin-top: 70px;
    transition: 2s ease all;
    cursor: pointer;
}

.arrival-right-arrow::before {
    content: '';
    display: block;
    position: relative;
    width: 15px;
    height: 15px;
    border: 3px solid #1a1919;
    border-top: none;
    border-left: none;
    top: 50%;
    left: 50%;
    transform: translate(-60%, -40%) rotate(-45deg);
}

.arrival-left-arrow::before {
    content: '';
    display: block;
    position: relative;
    width: 15px;
    height: 15px;
    border: 3px solid #1a1919;
    border-bottom: none;
    border-right: none;
    top: 50%;
    left: 50%;
    transform: translate(-40%, -50%) rotate(-45deg);
}

.arrival a img {
    transition: 1s ease all;
}

.arrival-left-arrow:hover,
.arrival-right-arrow:hover,
.arrival a img:hover {
    background: #dddddd;
}

.birds-wrap {
    background: linear-gradient(rgba(1, 16, 12, .9), rgba(1, 16, 12, .9)), url(../img/birds-bg.jpg) center;
}

.wrapper {
    width: 80%;
    margin: 0 auto;
}

.birds {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 150px;
    padding-bottom: 90px;
}

.birds-headerline {
    display: flex;
    align-items: center;
    margin-bottom: 70px;
}

.birds-headerline h2 {
    font-size: 50px;
    margin: 0;
    line-height: 27px;
    color: #f7672c;
    font-weight: 700;
    font-family: "Poppins";
    margin: 0 10px;
}

.birds-headerline h3 {
    margin: 0;
    font-size: 50px;
    line-height: 27px;
    color: #ffffff;
    font-weight: 700;
    font-family: "Poppins";
    position: relative;
}

.birds-headerline h3::after {
    content: '';
    position: absolute;
    width: 15px;
    height: 15px;
    background-color: #ffffff;
    border-radius: 50%;
    top: 10px;
    margin-left: 4px;
}

.birds p {
    font-size: 17px;
    line-height: 32px;
    color: #ffffff;
    font-weight: 400;
    font-family: "Poppins";
    margin-bottom: 70px;
}

.birds a {
    display: inline-block;
    padding: 20px 30px;
    background: #f7672c;
    font-size: 17px;
    line-height: 32px;
    color: #ffffff;
    font-weight: 400;
    font-family: "Poppins";
    text-decoration: none;
    transition: 2s ease all;
    text-transform: capitalize;
}

.birds a:hover {
    background: #ffffff;
    color: #000706;
}

.birds-animals-wrap {
    background: #ffffff;
    padding-top: 120px;
}


.birds-animals-headerline {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 40px;
}

.birds-animals-headerline h2 {
    font-size: 50px;
    line-height: 32px;
    color: #071611;
    font-weight: 700;
    font-family: "Poppins";
    margin: 0 10px;
}

.birds-animals-headerline h3 {
    font-size: 50px;
    line-height: 32px;
    color: #0bd7f7;
    font-weight: 700;
    font-family: "Poppins";
    margin: 0;
}

.birds-animals p {
    font-size: 17px;
    line-height: 32px;
    color: #03120d;
    font-weight: 400;
    font-family: "Poppins";
    text-align: center;
    max-width: 1150px;
    margin: 0 auto;
    margin-bottom: 47px;
}

.gallery-wrap {
    background: #eeeeee;
    padding-top: 130px;
}

.gallery {
    display: grid;
    grid-template: 320px 320px 320px / 1fr 1fr 1fr;
    width: 60%;
    gap: 20px;
    margin: 0 auto 215px;
}

.gallery div:nth-child(1) {
    grid-area: 1 / 1 / 3 / 2;
}

.gallery div:nth-child(2) {
    grid-area: 1 / 2 / 2 / 4;
}

.gallery div:nth-child(3) {
    grid-area: 3 / 1 / 4 / 2;
}

.gallery div:nth-child(4) {
    grid-area: 2 / 2 / 4 / 3;
}

.gallery div:nth-child(5) {
    grid-area: 2 / 3 / 3 / 4;
}

.gallery div:nth-child(6) {
    grid-area: 3 / 3 / 4 / 4;
}

.gallery div>img {
    height: 100%;
    object-fit: cover;
    width: 100%;
}

.gallery>div {
    position: relative;
}

.gallery>div:hover .bird-button {
    opacity: 1;
}

.bird-button {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    width: 120px;
    opacity: 0;
    transition: 1s ease all;
}

.bird-button a:first-child {
    width: 50px;
    height: 50px;
    box-sizing: border-box;
    padding: 18px 24px 18px 16px;
    background-color: #fff;
    border-radius: 50%;
    transition: 1s ease all;
}

.bird-button a:last-child {
    width: 50px;
    height: 50px;
    box-sizing: border-box;
    padding: 15px 24px 12px 14px;
    background-color: #fff;
    border-radius: 50%;
    transition: 1s ease all;
}

.bird-button a:hover {
    background-color: rgb(236, 226, 226);
}


.bird-1:hover::before,
.bird-4:hover::before {
    content: url(../img/heard-orange.png);
    position: absolute;
    border-radius: 50%;
    background: #ffffff;
    left: 30%;
    top: 70%;
    padding: 20px;
}

.bird-1::before:hover {
    background-color: yellowgreen;
}

.bird-1:hover::after,
.bird-4:hover::after {
    content: url(../img/\ .png);
    position: absolute;
    border-radius: 50%;
    background: #ffffff;
    left: 50%;
    top: 70%;
    padding: 18px 20px;
}

.bird-2:hover::before {
    content: url(../img/heard-orange.png);
    position: absolute;
    border-radius: 50%;
    background: #ffffff;
    left: 40%;
    top: 40%;
    padding: 20px 20px 18px 20px;
}

.bird-2:hover::after {
    content: url(../img/\ .png);
    position: absolute;
    border-radius: 50%;
    background: #ffffff;
    left: 50%;
    top: 40%;
    padding: 18px 20px;
}

.bird-3:hover::before {
    content: url(../img/heard-orange.png);
    position: absolute;
    border-radius: 50%;
    background: #ffffff;
    left: 30%;
    top: 110%;
    padding: 20px 20px 18px 20px;
}

.bird-3:hover::after {
    content: url(../img/\ .png);
    position: absolute;
    border-radius: 50%;
    background: #ffffff;
    left: 50%;
    top: 110%;
    padding: 18px 20px;
}

.bird-5:hover::before,
.ducks:hover::before {
    content: url(../img/heard-orange.png);
    position: absolute;
    border-radius: 50%;
    background: #ffffff;
    left: 30%;
    top: 40%;
    padding: 20px 20px 18px 20px;
}

.bird-5:hover::after,
.ducks:hover::after {
    content: url(../img/\ .png);
    position: absolute;
    border-radius: 50%;
    background: #ffffff;
    left: 55%;
    top: 40%;
    padding: 18px 20px;
}

.button a {
    display: block;
    margin: 0 auto;
    width: 170px;
    font-size: 17px;
    line-height: 32px;
    color: #ffffff;
    font-weight: 400;
    font-family: "Poppins";
    text-align: center;
    padding: 15px 0;
    background-color: #f7672c;
    text-transform: capitalize;
    text-decoration: none;
    transition: 2s ease all;
}

.button a:hover {
    color: #000706;
}

.button {
    padding-bottom: 100px;
}

.testimonial-wrap {
    padding-top: 120px;
    padding-bottom: 100px;
    background: #ffffff;
}

.testimonial-headerline {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 110px;
}

.testimonial-headerline h2 {
    font-size: 50px;
    line-height: 32px;
    color: #292929;
    font-weight: 700;
    font-family: "Poppins";
    text-align: center;
    margin: 0 10px;
    position: relative;
}

.testimonial-headerline h2::after {
    content: '';
    position: absolute;
    display: block;
    width: 15px;
    height: 15px;
    background: #f7672c;
    border-radius: 50%;
    left: 310px;
    top: 6px;
}

.alex-info {
    display: flex;
    justify-content: center;
    margin-bottom: 80px;
}

.photo-alex {
    margin-right: -100px;
    z-index: 1;
}

.alex-photo {
    display: block;
    width: 185px;
    height: 185px;
    background: #f7672c;
    margin-top: 50px;
    position: relative;
}

.alex-photo::before {
    content: url(../img/alex.jpg);
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 35%;
}

.alex {
    background-color: #222222;
    padding: 45px 50px 40px 140px;
}

.alex h2 {
    font-size: 22px;
    line-height: 32px;
    color: #ffffff;
    font-weight: 400;
    font-family: "Roboto";
    padding-left: 55px;
    margin: 0;
    position: relative;
}

.alex h2::before {
    content: url(../img/quote-left.png);
    left: 0;
    position: absolute;
}

.alex p {
    font-size: 16px;
    line-height: 32px;
    color: #ffffff;
    font-weight: 400;
    font-family: "Roboto";
    opacity: 0.69;
    max-width: 640px;
    position: relative;
}

.alex p::after {
    content: url(../img/quote-left\ copy.png);
    position: absolute;
    left: 95%;
}

.pages {
    display: flex;
    justify-content: center;
}

.page {
    display: block;
    width: 32px;
    height: 18px;
    border-radius: 9px;
    background-color: #f7672c;
    margin: 0 2.5px;
    transition: 1s ease all;
}

.page:hover {
    background-color: #0bd7f7;
    cursor: pointer;
}

.subsribe-wrap {
    background: #011213;
    padding-top: 110px;
    padding-bottom: 100px;
}

.subsribe h2 {
    font-size: 26px;
    line-height: 32px;
    color: #ffffff;
    font-weight: 700;
    font-family: "Roboto";
    margin: 0;
    margin-bottom: 35px;
}

.subsribe-email {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.subsribe-email p {
    font-size: 16px;
    line-height: 32px;
    color: #4b4b4b;
    font-weight: 400;
    font-family: "Roboto";
    margin: 0;
}

.subsribe-email a {
    padding: 15px 80px;
    font-size: 16px;
    line-height: 32px;
    color: #ffffff;
    font-weight: 400;
    font-family: "Roboto";
    text-align: center;
    text-transform: uppercase;
    background: #f7672c;
    text-decoration: none;
    transition: 2s ease all;
}

.subsribe-email a:hover {
    background: #ffffff;
    color: #000706;
}

.request-headerline {
    padding-top: 130px;
    padding-bottom: 110px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #ffffff;
    text-transform: capitalize;
}

.request-headerline h2 {
    font-size: 50px;
    line-height: 32px;
    color: #03120c;
    font-weight: 700;
    font-family: "Poppins";
    margin: 0 10px;
    text-transform: capitalize;
}

.request-headerline h3 {
    font-size: 50px;
    line-height: 32px;
    color: #0bd7f7;
    font-weight: 700;
    font-family: "Poppins";
    position: relative;
}

.request-headerline h3::after {
    content: '';
    display: block;
    position: absolute;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #f7672c;
    left: 245px;
    top: 10px;
}

.footer-info-bg {
    background: url();
    padding-top: 350px;
    padding-bottom: 15px;
}

.footer-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 80px 20px 40px;
    background: #ffffff;
    border-radius: 22px;
    margin: 0 auto;
    width: 45%;
}

.footer-left-bloc p {
    font-size: 16px;
    color: #666666;
    font-weight: 400;
    font-family: "Roboto";
    margin-bottom: 0;
}

.footer-left-bloc hr {
    width: 330px;
    height: 2px;
    background-color: #f15353;
    margin-bottom: 25px;
}

.footer-left-bloc a {
    padding: 15px 35px;
    line-height: 109px;
    color: #ffffff;
    font-weight: 700;
    font-family: "Roboto";
    text-decoration: none;
    background: #f7672c;
    transition: 1s ease all;
}

.footer-left-bloc a:hover {
    color: #000706;
}

.footer-right-bloc a {
    display: block;
    margin-bottom: 30px;
    width: 159px;
    font-size: 17px;
    line-height: 22px;
    color: #020000;
    font-weight: 400;
    font-family: "Roboto";
    text-decoration: none;
    padding-left: 40px;
    position: relative;
    transition: 1s ease all;
}

.footer-right-bloc address {
    font-style: normal;
    position: relative;
}

.footer-right-bloc address::before {
    content: url(../img/maps-and-flags.png);
    position: absolute;
    left: -40px;
}

.footer-right-bloc a:nth-child(2)::before {
    content: url(../img/phone.png);
    position: absolute;
    left: 4px;
    top: -4px;
}

.footer-right-bloc a:last-child::before {
    content: url(../img/email.png);
    position: absolute;
    left: 0;
}

.footer-right-bloc a:hover {
    color: #f7672c;
}

.footer-line {
    padding-top: 50px;
    padding-bottom: 30px;
    background: #011213;
}

.social-line {
    display: flex;
    align-items: center;
    justify-content: center;
}

.social-line img {
    margin: 0 3px;
    margin-bottom: 35px;
    transition: 1s ease all;
}

.social-line img:hover{
    transform: scale(1.2);
}

.footer-line p {
    font-size: 17px;
    line-height: 32px;
    color: #ffffff;
    font-weight: 400;
    font-family: "Poppins";
    text-align: center;
}